nav {
    padding: 50px 0;
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 50px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $dancanettigrey;
    @include sm {
        padding: 50px 100px;
        padding: 40px;
        margin-bottom: 40px;
    }
    .logo {
        z-index: 40001;
        font-weight: $pfontbold;
        animation: fade-in 3s ease-in-out 1;
    }
    ul {
        list-style: none;
        display: flex;
        animation: fade-in 3s ease-in-out 1;
        padding: 0;
        li {
            margin-right: 40px;
            margin-top: 0;
            &:last-of-type {
                margin-right: 0;
            }
            @include sm {
                margin-right: 30px;
                &.hom {
                    display: none;
                }
            }
            &.toggle-nightMode {
                input {
                    display: none;
                }
                label {
                    position: relative;
                    cursor: pointer;
                    margin-top: 3px;
                    display: block;
                    img {
                        height: 1rem;
                    }
                }
            }
        }
    }
}
