/*
    Base
    ---
    Default style rules.
    E.G. html, body, a
*/

@import 'reset';

// Colour Variables
$dancanettiblack:   #111;         // Black
$dancanettigrey:    #f0f0f0;      // Grey
$dancanettiwhite:   #fff;         // White
$dancanettialt:     #F92A82;      // Alt

// Social 
$dribbble:          #ea4c89;      // Dribbble
$instagram:         #d00376;      // Instagram
$twitter:           #00aced;      // Twitter
$linkedin:          #0e76a8;      // LinkedIn

// Spacing Variables
$maxwidth:       1250px;
$maxwidthnarrow: 1000px;
$ds:             75px;

// Media Queries
$screen-sm: 576px;
@mixin sm {
   @media (max-width: #{$screen-sm}) {
       @content;
   }
}

// Mixins
@mixin transitionall($length) {
  -webkit-transition: all $length ease-in-out;
  -moz-transition: all $length ease-in-out;
  -o-transition: all $length ease-in-out;
  transition: all $length ease-in-out;
}

@mixin transitiondelay($length) {
  -webkit-transition-delay: $length;
  -moz-transition-delay: $length;
  -o-transition-delay: $length;
  transition-delay: $length;
}

// Vue Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Animation
@keyframes line-grow {              // Grow Line
  0% {
    height: 0px;
  }
  50% {
    height: 0px;
  }
  100% {
    height: 300px;
  }
}

@keyframes scroll-show {            // Scroll Text
  0% {
    opacity: 0;
    top: 67px;
  }
  50% {
    opacity: 0;
    top: 67px;
  }
  100% {
    opacity: 1;
    top: 17px;
  }
}

@keyframes init-fade {              // Fade in-up
  0% {
    opacity: 0;
    margin-bottom: -50px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}

@keyframes init-fade--intro {       // Fade in-up
  0% {
    opacity: 0;
    margin-bottom: -50px;
  }
  100% {
    opacity: 1;
    margin-bottom: 150px;
  }
}

@keyframes scroll {         // Mouse Scroll
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0); opacity: 1;
  }
  100% {
    transform: translateY(15px); opacity: 0;
  }
}

@keyframes fade-in {      // Fade In
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes init-hide {
  0% {
    opacity: 0;
    display: none;
  }
  99% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

// Fonts
$pfont:       'brandon-grotesque', sans-serif;
$pfontlight:  300;
$pfontreg:    400;
$pfontbold:   500;
$pfontheavy:  900;

// Serif
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
$serif:       'Roboto Slab', serif;

// Titles
//@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
//$header:      'Bangers', 'brandon-grotesque', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
$header:       'Abril Fatface', cursive;

// Basics

body {
    //animation: init-fade 6s 1;
    font-family: $pfont;
    font-weight: $pfontlight;
    background-color: #fff;
    padding-bottom: 0px;
    max-width: 1750px;
    margin: auto;
    .wrapper {
        position: relative;
        z-index: 5;
        background-color: #f0f0f0;          // Light grey background
        margin: 10px;
        overflow: hidden;
        @include sm {
            padding: 25% 5% 0 5%;
        }
    }
    &.sub {
      .wrapper, .body {
        background-color: #fff;
      }
    }
}

// Smooth Scrolling
@media screen and (prefers-reduced-motion: reduce) {
	a[href*="#"] {
		scroll-behavior: auto;
	}
}

h1 {
    //font-family: $header;
    font-size: 4rem;
    color: $dancanettiblack;
    text-align: left;
    text-transform: uppercase;
    padding: 5vh 0;
    margin: 0;
    line-height: 1.25;
    @include sm {
        font-size: 3rem;
    }
    &.--sub {
      position: fixed;
      //top: 140px;
      top: 40px;    // Hide behind nav toggle ;)
      left: 55px;
      color: $dancanettiblack;
      font-family: $pfont;
      font-weight: $pfontheavy;
      font-size: 1rem;
      letter-spacing: .25rem;
    }
}

h2 {
    @extend h1;
    font-family: $pfont;
    font-weight: $pfontheavy;
    font-size: 2.5rem;
    letter-spacing: .25rem;
    color: $dancanettiblack;
    padding: 0;
    margin: 0 0 $ds 0;    
}

h3 {
    @extend h2;
    font-weight: $pfontbold;
    font-size: 1.75rem;
    letter-spacing: .05rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 30px;
    img {
      & + strong {
        font-size: .75rem;
      }
    }
}

a {
    color: $dancanettiblack;
    text-decoration: none;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    &.l {
        @include transitionall(.3s);
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            bottom: -1px;
            height: 1px;
            width: 100%;
            opacity: 0.3;
            background: $dancanettiblack;
            @include transitionall(.3s);
        }
        &:hover {
            &:before {
                opacity: 1;
                background: $dancanettialt;
            }
        }
        &.l--t {
            opacity: 0.3;
            text-transform: uppercase;
            letter-spacing: .1rem;
            margin-left: 5px;
            &:before {
                opacity: 0.6;
            }
            &:hover {
                opacity: 1;
                &:before {
                  background: $dancanettialt;
                }
            }
        }
    }
    &.sl {
        position: relative;
        z-index: 1;
        @include transitionall(.3s);
        img {
          height: 1.5rem;
        }
        
    }
}

button {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0 0 5px 0;
  margin-top: 10px;
  font-size: 1.25rem;
  color: $dancanettiblack;
  text-decoration: none;
  position: relative;
  @include transitionall(.3s);
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 100%;
    opacity: 0.3;
    background: $dancanettiblack;
    @include transitionall(.3s);
  }
  &:hover {
    cursor: pointer;
    &:before {
      opacity: 1;
      background: $dancanettialt;
    }
  }
}

.strong {
    font-weight: $pfontheavy;
}

hr {
    box-shadow: none;
    border: 1px solid $dancanettigrey;
    height: 0px;
    width: 12.5%;
    margin: 75px 0 25px 0px;
}

blockquote {
    font-family: $serif;
    margin: 75px 75px 5px 75px;
    & + p {
        font-family: $serif;
        margin: 25px 75px 75px 75px;
        color: $dancanettiblack;
        font-size: .7em;
    }
    @include sm {
      margin: 75px 25px 5px 25px;
      & + p {
        margin: 25px 25px 75px 25px;
      }
    }
}

code {
  font-family: monospace;
  background: rgba(0,0,0,0.1);
}

pre {
  padding: 15px;
  margin-top: 35px;
  width: 100%;
  overflow-y: scroll;
  background: rgba(0,0,0,0.1);
  code {
    font-size: 1rem;
    background: transparent;
  }
}

s {   // Strikethrough
  opacity: 0.5;
}

.social-img {
  height: .9rem;
  @include transitionall(.3s);
  &.hov-enabled {
    &:hover {
      fill: $dancanettialt;
    }
  }
}