/*
    Modules
    ---
    Modules are the reusable, modular parts of the design.
    E.G. callouts, sidebar sections, product lists
*/

// Burger Menu Variables
$bar-height: 1px; // Height of bars
$bar-width: 24px; // Width of large bars
$short-bar-width: #{$bar-width - 7px}; // Width of final bar
$bar-spacing: -6px; // Space between all bars
// Burger Menu
$burgertransitions: .4s;
// Non JS Menu Toggle
.njs-toggle-menu {
  margin-left: 10px;
  align-self: center;
	&.njs-toggle-menu--mob-move {
		margin-top: -125px;
	}
	.toggle-menu__toggle-menu-icon {
		display: inline-block;
		z-index: 500;
		position: relative;
		margin-right: 10px;
		@include sm {
			margin-left: -4px;
		}
		.toggle-menu-icon__toggle-menu-icon-inner {
			margin-top: -2.5px;
			width: $bar-width;
			height: $bar-height;
			background: #000;
			display: inline-block;
			vertical-align: middle;
			margin-left: 7px;
			z-index: 50;
			position: relative;
			@include transitionall($burgertransitions);
			&:before {
				content: "";
				position: absolute;
				top: $bar-spacing;
				left: 0;
				width: $bar-width;
				height: $bar-height;
				background: #000;
				opacity: 1;
				@include transitionall($burgertransitions);
			}
			&:after {
				content: "";
				position: absolute;
				bottom: $bar-spacing;
				left: 0;
				width: $short-bar-width;
				height: $bar-height;
				background: #000;
				@include transitionall($burgertransitions);
			}
		}
		&.toggle-menu-icon--toggle {
			.toggle-menu-icon__toggle-menu-icon-inner {
				-ms-transform: rotate(45deg);
				/* IE 9 */
				-webkit-transform: rotate(45deg);
				/* Safari prior 9.0 */
				transform: rotate(45deg);
				/* Standard syntax */
				&:before {
					opacity: 0;
				}
				&:after {
					bottom: 0;
					width: $bar-width;
					-ms-transform: rotate(90deg);
					/* IE 9 */
					-webkit-transform: rotate(90deg);
					/* Safari prior 9.0 */
					transform: rotate(90deg);
					/* Standard syntax */
				}
			}
		}
		&.hideondesktop {
			display: none;
			@include sm {
				display: block;
			}
		}
	}
	.njs-toggle-menu--toggle {
		display: none;
		&+label {
			cursor: pointer;
			position: relative;
			z-index: 5000000;
			&+.main-nav {
				position: fixed;
        height: 100vh;
        width: 250px;
        opacity: 1;
				text-align: left;
				background: #fff;
				margin-left: -100vw;
				padding: 135px 0 0 0;
				font-weight: 900;
        //@include transitionall($burgertransitions);
        @include transitionall(.6s);
        @include sm {
          overflow-y: scroll;
          padding-bottom: 25px;
          height: auto;
          max-height: 100vh;
        }
        ul {
          list-style: none;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-left: 50px;
          li {
            margin-bottom: 15px;
            ul {
              margin-top: 10px;
              margin-left: 0;
              li {
                margin-left: 0;
                &:last-of-type {
                  margin-bottom: 0;
                }
              }
              a {
                color: #9a9a9a;
                font-weight: 400;
                font-size: .8rem;
              }
            }
          }
          a {
            @include transitionall(.3s);
            &:hover {
              color: $dancanettialt;
            }
          }
          &.social {
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 50px 0px 15px;
            @include sm {
              margin-top: 25px;
            }
            li {
              margin: 0 0 15px 0;
            }
            a {
              color: $dancanettiblack;
              @include transitionall(.3s);
              &:hover {
                color: $dancanettialt;
              }
            }
          }
        }
				&.main-nav--toggle {
					opacity: 1;
					top: 75px;
					@include sm {
						top: 0;
						left: 0;
					}
				}
			}
		}
		&:checked {
			&+label {
				.toggle-menu__toggle-menu-icon .toggle-menu-icon__toggle-menu-icon-inner {
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					&:before {
						opacity: 0;
					}
					&:after {
						bottom: 0;
						width: $bar-width;
						-ms-transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
						transform: rotate(90deg);
					}
				}
				&+.main-nav {
          margin-left: 0;
          opacity: 1;
				}
			}
		}
	}
}

// Social Links
.social-links {
    position: relative;
    //margin-top: 100px;
    a {
      padding: 6.5px 10px;
      font-size: .5em;
      border: 1px solid $dancanettiblack;
      border-radius: 50px;
      color: $dancanettiblack;
      background: transparent;
      @include transitionall(.3s);
      &:hover {
        background: $dancanettialt;
        color: #fff;
      }
    }
}

// Display Collection Items
.collection-list {
  position: relative;
  width: 100%;
  max-width: $maxwidth;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  a {
      opacity: 1;
      animation: init-fade 1.5s 1;
      margin-bottom: $ds;
      &:hover {
        h3 {
          color: $dancanettialt;
        }
      }
  }
  h3 {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      opacity: 1;
      @include transitionall(.3s);
  }
  img {
      position: fixed;
      width: calc(100% - 20px);
      left: 10px;
      top: 0;
      z-index: -1;
      @include sm {
        display: none;
      }
  }
  .collection-list__description {
    font-family: $pfont;
    font-weight: $pfontlight;
    color: $dancanettigrey;
    opacity: .5;
    font-size: .75em;
  }
  &.posts {
    .collection-list__link {
     .collection-list__link__post-date {
       color: $dancanettiblack;
       font-weight: $pfontlight;
       opacity: 0.5;
       font-size: .75em;
     }
    }      
  }
}

// Case Studies
.case-study-item {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  margin-bottom: 60px; // 4x 15px
  @include sm {
    width: calc(100% - 15px);
  }
  img {
    width: 100%;
    height: auto;
  }
  .case-study-item__img {
    width: 100%;
    position: relative;
    overflow: hidden;
    &:before{
      content: "";
      display: block;
      //padding-top: 100%; 	/* ratio of 1:1*/
      padding-top: 130%;
    }
    .case-study-item__img__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $dancanettialt;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    .case-study-item__meta {
      position: absolute;
      z-index: 5;
      font-size: .8rem;
      padding: 15px 25px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  .case-study-item__data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    .case-study-item__data--content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        margin: 25px 0;
        font-size: 1.2rem;
      }
      p {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 1rem;
      }
      a {
        align-self: flex-start;
      }
    }
  }
}

// Blog 
.share__blog {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 100px;
  @include sm {
    flex-direction: column;
    justify-content: center;
    a {
      margin-bottom: 20px;
      margin-right: 0px;
    }
  }
  a {
    svg {
      margin-right: 8px;
      color: #fff;
      @include transitionall(.3s);
    }
    &:hover {
      svg {
        color: $dancanettialt;
      }
    }
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

// Affiliate promos on posts
.affiliate {
  width: 240px;
  position: fixed;
  left: 10px;
  top: 120px;
  opacity: 0;
  @include transitionall(.3s);
  img {
    width: 100%;
    height: auto;
  }
  .affiliate__content {
    padding: 20px;
    color: #fff;
    p {
      margin-top: 0;
      font-size: 1em;
      margin-bottom: 20px;
    }
  }
  &.show {
    opacity: 1;
  }
  @include sm {
    display: flex;
    align-items: center;
    z-index: 100;
    width: calc(100% - 260px);
    height: 123px;
    right: 10px;
    left: auto;
    top: 0px;
    .affiliate__content {
      display: none;
    }
    &.flywheel {
      background-color: #55c5d1;
    }
    &.digital-ocean {
      background-color: #0080ff;
    }
  }
}

// Form 
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label {
      font-size: 1rem;
    }
    input, textarea {
      height: 50px;
      background: none;
      box-shadow: none;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 1rem;
      @include transitionall(.3s);
      &.parsley-error {
        border-bottom: 1px solid $dancanettialt;
      }
    }
    textarea {
      resize: vertical;
    }
    button {
      align-self: flex-end;
    }
    ul.parsley-errors-list {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 1;
      animation: fade-in .3s 1;
      li {
        font-size: .75rem;
        padding: .15rem .25rem;
        background: $dancanettialt;
        color: #fff;
      }
    }
  }
  .content__gdprLegal {
    max-width: 65%;
    margin-top: -55px;
    p {
      font-size: 1rem;
    }
  }
}

// Grid 
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  &.social {
    max-width: 500px;
  }
  div {
    position: relative;
    width: calc(100% / 3);
    padding: 45px 25px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    text-align: center;
    background: transparent;
    @include transitionall(.3s);
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {    // Top 3
      border-top: 1px solid #fff;
    }
    &:nth-child(3n), &:last-child {
      border-right: 1px solid #fff;
    }
    &:hover {
      background: $dancanettialt;
    }
    @include sm {
      width: calc(100% / 2);
      &:nth-child(3) {    // Top 3
        border-top: none;
      }
      &:nth-child(3n), &:last-child {
        border-right: none;
      }
      &:nth-child(2n), &:last-child {
        border-right: 1px solid #fff;
      }
    }
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 10px;
      fill: #fff;
    }
  }
}