/*
    Modules
    ---
    Modules are the reusable, modular parts of the design.
    E.G. callouts, sidebar sections, product lists
*/

// Burger Menu Variables
$bar-height: 1px;                      // Height of bars
$bar-width: 24px;                        // Width of large bars
$short-bar-width: #{$bar-width - 7px};   // Width of final bar
$bar-spacing: -6px;                      // Space between all bars

// Burger Menu
$burgertransitions: .4s;

.toggle-menu {
  cursor: pointer;
  position: relative;
  margin-left: -6px; // Line up with main nav content
  .toggle-menu__toggle-menu-icon {
    display: inline-block;
    z-index: 500;
    position: relative;
    margin-right: 10px;
    .toggle-menu-icon__toggle-menu-icon-inner {
      margin-top: -2.5px;
      width: $bar-width;
      height: $bar-height;
      background: $dancanettiblack;
      display: inline-block;
      vertical-align: middle;
      margin-left: 7px;
      z-index: 50;
      position: relative;
      @include transitionall($burgertransitions);
      &:before {
        content: "";
        position: absolute;
        top: $bar-spacing;
        left: 0;
        width: $bar-width;
        height: $bar-height;
        background: $dancanettiblack;
        opacity: 1;
        @include transitionall($burgertransitions);
      }
      &:after {
        content: "";
        position: absolute;
        bottom: $bar-spacing;
        left: 0;
        width: $short-bar-width;
        height: $bar-height;
        background: $dancanettiblack;
        @include transitionall($burgertransitions);
      }
    }
    &.toggle-menu-icon--toggle {
      .toggle-menu-icon__toggle-menu-icon-inner {
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari prior 9.0 */
        transform: rotate(45deg); /* Standard syntax */
        &:before {
          opacity: 0;
        }
        &:after {
          bottom: 0;
          width: $bar-width;
          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Safari prior 9.0 */
          transform: rotate(90deg); /* Standard syntax */
        }
      }
    }
  }
  &.toggle-menu--toggle {
    &:before {
      opacity: 1;
    }
  }
}

// Social Links
.social-links {
    position: relative;
    //margin-top: 100px;
    a {
      padding: 6.5px 10px;
      font-size: .5em;
      border: 1px solid $dancanettiblack;
      border-radius: 50px;
      color: $dancanettiblack;
      background: transparent;
      @include transitionall(.3s);
      &:hover {
        background: $dancanettialt;
        color: #fff;
      }
    }
}

// Display Collection Items
.collection-list {
  position: relative;
  width: 100%;
  max-width: $maxwidth;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  a {
      margin-bottom: $ds;
  }
  h3 {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
  }
  img {
      position: fixed;
      width: calc(100% - 20px);
      left: 10px;
      top: 0;
      z-index: -1;
  }
  .collection-list__description {
    font-family: $pfont;
    font-weight: $pfontlight;
    color: $dancanettigrey;
    opacity: .5;
    font-size: .75em;
  }
  &.posts {
    .collection-list__link {
     .collection-list__link__post-date {
       color: $dancanettiblack;
       font-weight: $pfontlight;
       opacity: 0.5;
       font-size: .75em;
     }
    }      
  }
}