---
layout: sub.liquid
pageTitle: Blog
pageClass: sub
pageDesc: Tutorials, thoughts on tech culture, dev and business tools. Here's where I share my web development experiences and musings from my life.
---

<div class="body dark">
  <div class="body__section body__section--case-study-items">
    {% assign allblogposts = collections.posts | reverse %}
    {% for post in allblogposts %}  
      <div class="case-study-item case-study-item--{{ post.data.pageType }}">
        <div class="case-study-item__img">
          <div class="case-study-item__img__image">
            <div class="case-study-item__meta">
              <span>{{ post.data.postTag }}</span>
              <span>{{ post.date | date: '%B %d, %Y' }}</span>
            </div>
            <a href="{{ post.url }}">
              <img src="{{ post.data.postFeatureImage }}" srcset="{{ post.data.postFeatureImageRetina }} 2x" alt="" aria-label="Read More" />
            </a>
          </div>
        </div>
        <div class="case-study-item__data">
          <div class="case-study-item__data--content">
            <h2>{{ post.data.postTitle }}</h2>
            <p>{{ post.data.postExcerpt }}</p>
            <a href="{{ post.url }}" class="l">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  {% include footer %}
</div>