---
layout: layout.liquid
pageTitle: A Web Developer
pageClass: home
---



<div class="content intro">
  <h1 class="heavy">I make things for the web.</h1>
  <p>I'm Daniel Canetti, a web developer based in Yorkshire, England. Currently, I'm the Senior Developer at <a href="#" class="cta">Nouveau Beauty Group</a>.</p>
  <p>I work with a modern technology stack and popular CMS systems to deliver quality results.</p>
</div>

<h2>Proud to have worked with</h2>
<div class="project-logo-grid">
  {% for post in collections.projects %}
    <div class="project-logo">
      <a href="{{ post.url }}" class="project-link {{ post.data.projectClass }}">
        <img src="{{ post.data.projectLogo }}" alt="{{ post.data.pageTitle }}" />
      </a>
    </div>
  {% endfor %}
</div>

<h2>A few side projects</h2>
<div class="project-logo-grid">
  {% for post in collections.side-projects %}
    <div class="project-logo">
      <a href="{{ post.data.sideProjectLink }}" target="_blank" class="sideProject-link {{ post.data.sideProjectClass }}">
        <img src="{{ post.data.sideProjectLogo }}" alt="{{ post.data.pageTitle }}" />
        <span class="side-project-title">{{ post.data.pageTitle }}</span>
      </a>
    </div>
  {% endfor %}
</div>

<h2>Latest Posts</h2>
<div class="content latest-post-grid">
  <ul>
  {% for post in collections.posts %}
    <li class="latest-post">
      <a href="{{ post.url }}">{{ post.data.pageTitle }}</a>
      <em>{{ post.date | date: "%Y-%m-%d" }}</em>
    </li>
  {% endfor %}
  </ul>
</div>
