---
layout: homepage.liquid
pageTitle: A Web Developer
pageClass: home
pageFeatureImage: /images/feature.jpg
pageDesc: A developer with a broad skillset living and working in Yorkshire, England. I've worked on projects ranging from quick WordPress builds to full bespoke builds.
---

<div class="header-spacing"></div>

<div class="zoom">
    <h1 class="zoom__content">Dan.</h1>
</div>

<div class="scroll-hint"></div>

<div class="body">
    <div class="body__section body__section--intro">
      <p>A Web Developer living and working in Yorkshire, England.</p>
        <p>Currently the developer for <a class="l" href="https://nouveaubeautygroup.com" target="_blank" rel="noopener">Nouveau Beauty Group</a>, a permanent makeup training company.</p>
    </div>
    <div class="body__section body__section--projects">
        <h2>Projects.</h2>
        <div id="project-list" class="collection-list">
            {% for post in collections.projects limit: 3 %}
            <a href="{{ post.data.projectLink }}" class="project-link {{ post.data.projectClass }}" target="_blank" rel="noopener" @mouseover="hover{{ post.data.projectid }} = true" @mouseover="hoverOver" @mouseleave="hover{{ post.data.projectid }} = false"><h3>{{ post.data.pageTitle }}<br><span class="collection-list__description">{{ post.data.pageDesc }}</span></h3></a>
            <transition name="fade">
              <picture v-if="hover{{ post.data.projectid }}">
                <source media='(max-width: 776px)' srcset='/images/transparent-mob.gif'/>
                <img src="{{ post.data.projectFeatureImageHome }}" srcset="{{ post.data.projectFeatureImageHomeRetina }} 2x" alt="">
              </picture>
            </transition>
            {% endfor %}
        </div>
        <a href="/projects/" class="l l--t" aria-label="View more blog posts.">View All</a>
    </div>
    <div class="body__section">
        <h2>Writing.</h2>
        <div class="collection-list posts">
          {% assign blogposts = collections.posts %}
          {% for post in blogposts limit: 3 %}
            <a href="{{ post.url }}" class="collection-list__link"><h3>{{ post.data.postTitle }}<br><span class="collection-list__description">{{ post.data.postTag }}</span></h3></a>
            <!-- For reference - date {{ post.date | date: '%B %d, %Y' }} -->
          {% endfor %}
        </div>
        <a href="/blog/" class="l l--t" aria-label="View more blog posts.">View All</a>
    </div>
    <!--div class="body__section">
        <h2>Shop.</h2>
        <div class="collection-list">
          <a href="#" target="_blank"><h3>Eleventy Basic Theme</h3></a>
        </div>
        <a href="https://danielcanetti.square.site/" class="l l--t" target="_blank">Visit Shop</a>
    </div-->
    <div class="body__section">
        <h2>Github.</h2>
        <div class="collection-list">
          <a href="https://www.wordpresspluginicons.com/" target="_blank" rel="noopener"><h3>WordPress Plugin Icon Font</h3></a>
          <a href="https://github.com/DanCanetti/sass-quick-start" target="_blank" rel="noopener"><h3>Sass Quick Start</h3></a>
          <a href="https://github.com/DanCanetti/slick-slider-quick-start" target="_blank" rel="noopener"><h3>Slick Slider Quick Start</h3></a>
        </div>
        <a href="https://github.com/DanCanetti" class="l l--t" target="_blank" rel="noopener" aria-label="View more blog posts.">View All</a>
    </div>
    {% include footer %}
</div>