---
layout: sub.liquid
pageTitle: Work
pageClass: sub
pageExcerpt: A selection of personal and professional web development projects including some of my latest work.
---

<div class="body body--sub">
  <div class="body__section body__section--case-study-items body__section--fade-up">
    {% for post in collections.projects reversed %}
    <a href="{{ post.data.projectLink }}" target="_blank" rel="noopener" class="case-study-item case-study-item--hover case-study-item--{{ post.data.pageType }}">
      <div class="case-study-item__img">
        <div class="case-study-item__img__image">
            {% if post.data.projectFeatureImage %}
            <img src="{{ post.data.projectFeatureImage }}" srcset="{{ post.data.projectFeatureImageRetina }} 2x" alt="Cover Image. Visit site using the link below." aria-label="Read More" />
            {% else %}
            <img src="/dist/images/feature.jpg" alt="Cover Image. Visit site using the link below." aria-label="Read More" />
            {% endif %}
        </div>
      </div>
      <div class="case-study-item__data">
        <div class="case-study-item__data--content">
          <div class="case-study-item__meta">
            <span>{{ post.data.projectType }}</span>
            <span>{{ post.data.projectStatus }}</span>
          </div>
          <div class="case-study-item__copy">
            <h2>{{ post.data.pageTitle }}</h2>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>