<footer>
    <div class="footer__content">
        <div class="footer__content__item footer__content__plinks">
            <a class="l" href="/blog/">Blog</a>
            <a class="l" href="/projects/">Work</a>
            <a class="l" href="/contact/">Mail</a>
        </div>
        <div class="footer__content__item footer__content__slinks">
            <a class="sl" href="https://github.com/DanCanetti" target="_blank" aria-label="Github" rel="noreferrer"><i class="fab fa-github" aria-label="GitHub"></i></a>
            <a class="sl sl--d" href="https://dribbble.com/dan_canetti" target="_blank" aria-label="Dribbble" rel="noreferrer"><i class="fab fa-dribbble" aria-label="Dribbble"></i></a>
            <a class="sl sl--i" href="https://www.instagram.com/dan_canetti_dev/" target="_blank" aria-label="Instagram" rel="noreferrer"><i class="fab fa-instagram" aria-label="Instagram"></i></a>
            <a class="sl sl--t" href="https://twitter.com/Dan_Canetti" target="_blank" target="_blank" aria-label="Twitter" rel="noreferrer"><i class="fab fa-twitter" aria-label="Twitter"></i></a>
            <a class="sl sl--l" href="https://www.linkedin.com/in/danielcanetti" target="_blank" aria-label="LinkedIn" rel="noreferrer"><i class="fab fa-linkedin" aria-label="LinkedIn"></i></a>
        </div>
        <span class="copyright">Daniel Canetti &copy; {{ 'now' | date: '%Y' }}</span>
    </div>
</footer>

<!-- BLM Badge -->

<script>
BLMBadge.init({
       layout:1, 
       theme:'dark', 
       promoText : 'Send a donation '+String.fromCodePoint(0x2192),
       promoLink : 'https://minnesotafreedomfund.org/',
       message : 'To be silent is to be complicit. Black lives matter.',
       title : '#BlackLivesMatter'
})
</script>