<footer>
    <div class="footer__content">
        <div class="footer__content__item footer__content__plinks">
            <a class="l" href="#">Who</a>
            <a class="l" href="#">Work</a>
            <a class="l" href="#">Mail</a>
        </div>
        <div class="footer__content__item footer__content__slinks">
            <a class="sl" href="https://github.com/DanCanetti" target="_blank"><i class="fab fa-github" aria-label="GitHub"></i></a>
            <a class="sl sl--d" href="https://dribbble.com/dan_canetti" target="_blank"><i class="fab fa-dribbble" aria-label="Dribbble"></i></a>
            <a class="sl sl--i" href="https://www.instagram.com/dan_canetti/" target="_blank"><i class="fab fa-instagram" aria-label="Instagram"></i></a>
            <a class="sl sl--t" href="https://twitter.com/Dan_Canetti" target="_blank" target="_blank"><i class="fab fa-twitter" aria-label="Twitter"></i></a>
            <a class="sl sl--l" href="https://www.linkedin.com/in/danielcanetti" target="_blank"><i class="fab fa-linkedin" aria-label="LinkedIn"></i></a>
        </div>
    </div>
</footer>
