<!doctype html>
<html lang="en">
    <head>
        {% include meta %}
        <title>Daniel Canetti • {{ pageTitle }}</title>
    </head>
    <body class="{{ pageClass }}">
      <div class="wrapper">
        {% include nav %}
        {{ content }}
        {% include footer %}
      </div>
    </body>
</html>
