<nav>
  <a class="logo" href="/">{% if pageClass == "sub contact" %}Contact {% endif %}Dan{% if pageClass == "sub" %}'s {{ pageTitle }}{% endif %}{% if pageClass == "sub post" %}'s Blog{% endif %}.</a>
  <ul> 
    <li><a class="l" href="/work/">Work</a></li>
    <li><a class="l" href="/blog/">Blog</a></li>
    <li><a class="l" href="/extras/">Extras</a></li>
    <li><a class="l" href="/contact/">Contact</a></li>
    <li class="toggle-nightMode">
      <label for="theme-toggle" v-bind:class="{ 'night' : nightMode }">
        <img src="/images/icons/moon.svg" />
      </label>
      <input type="checkbox" id="theme-toggle" v-model="nightMode">
    </li>
  </ul>
</nav>
