<nav>
  <div class="nav__content">
    <div class="nav__content__logoarea">
      Dan.
    </div>
    <ul>
      <!--li><a class="cta" href="/">Home</a></li>
      <li><a class="cta" href="/blog/">Blog</a></li>
      <li><a class="cta" href="https://twitter.com/Dan_Canetti" target="_blank" rel="noopener noreferrer">Tweet Me</a></li>
      <li><a class="cta" href="mailto:info@danielcanetti.com?body=Hi%20Dan!%0A%0AI've%20just%20been%20visiting%20your%20website%20and%20wanted%20to%20reach%20out.%0A%0A%5B%5B%20YOUR%20EMAIL%20HERE%20%5D%5D%0A%0AThanks%2C%0A%5B%5B%20YOUR%20NAME%20%5D%5D." target="_blank" rel="noopener noreferrer">Email Me</a></li-->
      <li><a href="https://github.com/DanCanetti" target="_blank"><i class="fab fa-github" aria-label="GitHub"></i></a></li>
      <li><a href="https://twitter.com/Dan_Canetti" target="_blank" target="_blank"><i class="fab fa-twitter" aria-label="Twitter"></i></a></li>
      <li class="toggle-menu">
        <span class="toggle-menu__toggle-menu-icon">
          <span class="toggle-menu-icon__toggle-menu-icon-inner" aria-label="More menu options - sign in, view basket, call us, and email us"></span>
        </span>
        Menu
    </li>
    </ul>
  </div>
</nav>
