<nav>
  <div class="logo">
    <img id="mainlogo" src="/images/logotext.svg" alt="Daniel Canetti • Fullstack Developer • " class="svg" />
    <img class="center" src="/images/logo.png" alt="" />
  </div>
  <ul>
    <li><a class="cta" href="/">Home</a></li>
    <li><a class="cta" href="#">Case Studies</a>
    <li><a class="cta" href="#">Contact</a></li>
  </ul>
</nav>
