<nav>
  <div class="nav__content">
    <div class="nav__content__logoarea">
      Dan.
    </div>
    <ul>
      <li class="toggle-menu">
        <span class="toggle-menu__toggle-menu-icon">
          <span class="toggle-menu-icon__toggle-menu-icon-inner" aria-label="More menu options - sign in, view basket, call us, and email us"></span>
        </span>
    </li>
    </ul>
  </div>
</nav>
