<nav>
  <div class="nav__content">
    <a href="/">
        <div class="nav__content__logoarea">
          Dan.
        </div>
    </a>
    <div class="njs-toggle-menu">
      <input type="checkbox" id="njs-toggle-menu--toggle" class="njs-toggle-menu--toggle" />
      <label for="njs-toggle-menu--toggle">
        <span class="toggle-menu__toggle-menu-icon">
          <span class="toggle-menu-icon__toggle-menu-icon-inner" aria-label="More menu options - sign in, view basket, call us, and email us"></span>
        </span>
      </label>
      <nav class="main-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/projects/">Projects</a>
            <!--ul>
            {% assign navprojects = collections.selectedproject %}
            {% for post in navprojects limit: 3 %}
              <li><a href="{{ post.data.projectLink }}" target="_blank" rel="noopener">{{ post.data.pageTitle }}</a></li>
            {% endfor %}
            </ul-->
          </li>
          <li>
            <a href="/blog/">Blog</a>
            <ul>
            {% assign navblogposts = collections.posts %}
            {% for post in navblogposts limit: 4 %}
              <li><a href="{{ post.url }}">{{ post.data.postTitle }}</a></li>
            {% endfor %}
            </ul>
          </li>
          <li>
            <a href="/moodboard/">Moodboard</a>
          </li>
          <li>
            <a href="/contact/">Contact</a>
          </li>
        </ul>
        <ul class="social">
          <li><a href="https://github.com/DanCanetti" target="_blank" aria-label="Github" rel="noreferrer"><img src="/images/icons/github-b.svg" alt="GitHub" /></a></li>
          <li><a href="https://dribbble.com/dan_canetti" target="_blank" aria-label="Dribbble" rel="noreferrer"><img src="/images/icons/dribbble-b.svg" alt="Dribbble" /></a></li>
          <li><a href="https://www.instagram.com/dan_canetti_dev/" target="_blank" aria-label="Instagram" rel="noreferrer"><img src="/images/icons/instagram-b.svg" alt="Instagram" /></a></li>
          <li><a href="https://twitter.com/Dan_Canetti" target="_blank" target="_blank" aria-label="Twitter" rel="noreferrer"><img src="/images/icons/twitter-b.svg" alt="Twitter" /></a></li>
          <li><a href="https://www.linkedin.com/in/danielcanetti" target="_blank" aria-label="LinkedIn" rel="noreferrer"><img src="/images/icons/linkedin-b.svg" alt="LinkedIn" /></a></li>
        </ul>
      </nav>
    </div>
  </div>
</nav>
