.breadcrumbs {
    padding: 25px 50px;
    margin-top: -5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: $dancanettiblack;
    border-bottom: 1px solid $dancanettiblack;
    animation: fade-in-up 2s ease-in-out 1;
    &--alt-position {
        padding: 25px 0;
        margin-top: 50px;
        border-top: 1px solid $dancanettiblack;
        animation: none;
    }
    @include sm {
        padding: 25px 40px;
    }
    a,
    span {
        margin: 0 10px;
    }
    a {
        text-decoration: underline;
        text-decoration-color: rgba(0, 0, 0, 0.5);
        text-decoration-thickness: 0.05em;
        text-underline-offset: 5px;
        @include transitionall(0.3s);
        &:hover {
            text-decoration-color: $dancanettialt;
        }
        &:first-of-type {
            margin-left: 0;
        }
    }
}
