.website-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    min-height: 250px;
    @include sm {
        margin-top: 50px;
    }
    li {
        width: auto;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        position: relative;
        // Image bg
        &:before {
            content: "";
            background: $dancanettigrey;
            width: 26px;
            height: 26px;
            position: absolute;
            top: -2px;
            left: -5px;
            border-radius: 100%;
            z-index: -1;
        }
        p {
            margin: 0 0 0 15px;
            font-size: 1rem;
            a {
                text-decoration: underline;
                text-decoration-color: rgba(0, 0, 0, 0.5);
                text-decoration-thickness: 0.05em;
                text-underline-offset: 5px;
                @include transitionall(0.3s);
                &:hover {
                    text-decoration-color: $dancanettialt;
                }
            }
        }
    }
}
