.blog-posts__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
    &--margin-top {
        margin-top: 50px;
    }
    @include minsm {
        flex-direction: row;
        justify-content: space-between;
    }
    .blog-post--thumb {
        width: 100%;
        margin-bottom: 40px;
        h2 {
            font-family: $serif;
            text-transform: unset;
            font-size: 1.3rem;
            letter-spacing: 0.05rem;
            margin: 18px 0 0;
        }
        p {
            font-size: 1rem;
            margin: 12px 0;
            opacity: 0.7;
        }
        img {
            width: 100%;
        }
        @include minsm {
            width: 47%;
            &--home {
                &:first-of-type {
                    flex-direction: row;
                    width: 100%;
                    .blog-post__img {
                        width: 70%;
                        margin-right: 30px;
                    }
                    .blog-post__data {
                        width: calc(30% - 25px);
                        .blog-post__data--content {
                            .blog-post__meta,
                            .blog-post__copy {
                                justify-content: flex-start !important;
                                h2 {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.blog-post {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    margin-bottom: 60px; // 4x 15px
    &--post--blog {
        order: 3;
        &:first-of-type {
            order: 1;
        }
    }
    @include minsm {
        &--post--blog {
            &:first-of-type {
                flex-direction: row;
                width: 100%;
                .blog-post__img {
                    width: 70%;
                    margin-right: 30px;
                }
                .blog-post__data {
                    width: calc(30% - 25px);
                    .blog-post__data--content {
                        .blog-post__meta,
                        .blog-post__copy {
                            justify-content: flex-start !important;
                            h2 {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    @include sm {
        width: 75%;
    }
    &.blog-post--work {
        width: calc(50% - 7.5px);
        margin: 0 0 15px;
        position: relative;
        &:first-child,
        &:nth-child(4n),
        &:last-child {
            width: 100%;
        }
        @include sm {
            width: 100%;
            margin-bottom: 25px;
        }
        .blog-post__data {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px 30px;
            //background: rgba(0,0,0,.5);
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000111+0,000111+100&0.3+0,0+100 */
            background: -moz-linear-gradient(top, rgba(0, 1, 17, 0) 0%, rgba(0, 1, 17, 0.3) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(
                top,
                rgba(0, 1, 17, 0) 0%,
                rgba(0, 1, 17, 0.3) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
                to bottom,
                rgba(0, 1, 17, 0) 0%,
                rgba(0, 1, 17, 0.3) 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000111', endColorstr='#00000111',GradientType=0 ); /* IE6-9 */
            min-width: 250px;
            height: 100%;
            width: 100%;
            align-items: flex-end;
            @include sm {
                //background: rgba(0,0,0,.5);
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            a {
                text-align: left;
            }
            .blog-post__data--content {
                .blog-post__meta {
                    justify-content: flex-start;
                    span {
                        display: flex;
                        align-items: center;
                        &:first-of-type {
                            margin-right: 15px;
                        }
                        img {
                            width: 18px;
                            margin-right: 7px;
                            &.Jamstack {
                                width: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                .blog-post__copy {
                    align-items: flex-start;
                }
            }
        }
    }
    &.blog-post--hover {
        opacity: 1;
        @include transitionall(0.3s);
        &:hover {
            //opacity: .7;
            .blog-post__img {
                .blog-post__img__image {
                    img,
                    video {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    @include sm {
        width: calc(100% - 15px);
        margin-bottom: 30px;
        /*
      &:nth-last-of-type(2) {
        margin-bottom: 30px;
      }
      */
    }
    img {
        width: 100%;
        height: auto;
    }
    .blog-post__img {
        width: 100%;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            //padding-top: 100%; 	/* ratio of 1:1*/
            padding-top: 65%;
        }
        .blog-post__img__image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $dancanettigrey;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            img {
                object-fit: cover;
                height: 100%;
                transform: scale(1);
                @include transitionall(0.3s);
            }
            video {
                width: auto;
                height: 101%;
                transform: scale(1);
                @include transitionall(0.3s);
            }
        }
    }
    .blog-post__data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        .blog-post__data--content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            .blog-post__meta {
                width: 100%;
                margin: 25px 0 0;
                font-size: 0.75rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                span {
                    margin-right: 30px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
            .blog-post__copy {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    margin: 25px 0;
                    font-size: 1.2rem;
                    font-family: $pfont;
                    text-transform: unset;
                    letter-spacing: 0.05rem;
                }
                p {
                    margin-top: 0;
                    margin-bottom: 25px;
                    font-size: 1rem;
                }
            }
        }
    }
    &.blog-post--home {
        h2 {
            margin: 25px 0;
            font-size: 1.2rem;
            font-family: $pfont;
            text-transform: unset;
            letter-spacing: 0.05rem;
        }
        p {
            margin-top: 0;
            margin-bottom: 25px;
            font-size: 1rem;
        }
        a {
            align-self: flex-start;
        }
    }
    // Moodboard
    &.moodboard {
        width: 100%;
        margin: 0;
        padding: 5px;
        display: block;
        &:first-of-type,
        &:nth-last-of-type(2) {
            padding-top: 0;
        }
        p {
            display: none;
        }
        blockquote,
        figure {
            margin: 0;
        }
        @include sm {
            &:nth-last-of-type(2) {
                padding-top: 5px;
            }
        }
    }
}
