.blog-toggle {
    margin-bottom: 30px;
    span {
        cursor: pointer;
        background: transparent;
        padding: 0;
        color: $dancanettiblack;
        font-size: 1rem;
        opacity: 0.6;
        @include transitionall(0.3s);
        &.selected,
        &:hover {
            opacity: 1;
        }
    }
}
