<footer>
    <div class="footer__content">
        <span class="copyright">
            Daniel Canetti &copy; {{ 'now' | date: '%Y' }}<br>
            <a class="l" href="/about/" aria-label="About Dan">About</a><a class="l" href="/tools/" aria-label="Useful development tools">Tools</a><a class="l" href="/awesome-sites/" aria-label="Awesome Websites">Inspiration</a>
        </span>
        <div class="footer__content__slinks">
            <a class="sl umami--click--footer-github" href="https://github.com/DanCanetti" target="_blank" rel="noopener" aria-label="Go to Github"><img src="/dist/images/github-b.svg" alt="GitHub" /></a>
            <a class="sl umami--click--footer-twitter" href="https://twitter.com/Dan_Canetti" target="_blank" rel="noopener" aria-label="Go to Twitter"><img src="/dist/images/twitter-b.svg" alt="Twitter" /></a>
            <!--a class="sl" href="https://www.youtube.com/c/DanielCanetti/" target="_blank" rel="noopener" aria-label="Go to YouTube"><img src="/dist/images/youtube-b.svg" alt="Youtube" /></a-->
            <!--a class="sl" href="https://www.twitch.tv/dan_canetti" target="_blank" rel="noopener" aria-label="Go to Twitch"><img src="/dist/images/twitch-b.svg" alt="Twitch" /></a-->
            <a class="sl umami--click--footer-instagram" href="https://www.instagram.com/dan_canetti/" target="_blank" rel="noopener" aria-label="Go to Instagram"><img src="/dist/images/instagram-b.svg" alt="Instagram" /></a>
        </div>
    </div>
</footer>

<div class="cookie-bar">
    <p>Something about cookies</p><span id="btn-cookie-allow">Accept</span>
</div>