<nav class="flex justify-between items-center p-8 bg-red-50">
  <!--a class="logo" href="/">Dan.</a-->
  <label for="toggle-tailwind" class="logo"><input type="checkbox" name="toggle-styles" id="toggle-tailwind" />Toggle Tailwind</label>
  <ul> 
    <li>
      <div class="njs-toggle-menu">
        <input type="checkbox" id="njs-toggle-menu--toggle" class="njs-toggle-menu--toggle hidden" />
        <label for="njs-toggle-menu--toggle hidden">
        <span class="toggle-menu__toggle-menu-icon">
          <span class="toggle-menu-icon__toggle-menu-icon-inner" aria-label="More menu options - awesome websites"></span>
        </span>
        </label>
        <div class="main-nav">
          <ul class="flex justify-end items-center space-x-4">
            <li><a class="l" href="/about/">About</a></li>
            <li><a class="l" href="/blog/">Blog</a></li>
            <li><a class="l" href="/tools/">Tools</a></li>
            <li><a class="l" href="/awesome-sites/">Inspiration</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>
