---
layout: layout.liquid
pageTitle: A Yorkshire based front-end developer
pageClass: home
pageFeatureImage: /dist/images/feature.jpg
pageDesc: Front-end Web Developer living and working in Yorkshire, England. Updates on web development, my latest projects, life, and books.
---

<h1 style="position: absolute; top: -200%; left: -200%;">Daniel Canetti. Operations Manager and hobbying developer</h1>

<div class="body body--home">
  <div class="body__section body__section--fade">
    <div class="blog-posts__wrap">
      {% assign blogposts = collections.posts | reverse %}
      {% for post in blogposts %}
      <div class="blog-post--thumb blog-post--thumb--home blog-post--tag-{{ post.data.postTag | downcase | replace: " ", "-" }}">
        <img src="{{ post.data.postFeatureImage }}" srcset="{{ post.data.postFeatureImageRetina }} 2x" alt="{{ post.data.postTitle }} Feature Image">
        <h2><a href="{{ post.url }}" title="Read {{ post.data.postTitle }}">{{ post.data.postTitle }}</a></h2>
        {% if forloop.first == true %}
          <p>{{ post.data.postExcerpt }}</p>
        {% else %}
          <p>{{ post.data.postExcerpt | truncate: 50 }}</p>
        {% endif %}
        <a href="{{ post.url }}" class="l" title="Read {{ post.data.postTitle }}">Read post</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>