// Animations
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease-in-out;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  
  @keyframes fade-in {      // Fade In
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-in-up {    // Fade In Up
    0% {
      opacity: 0;
      margin-top: 25px;
    }
    25% {
      opacity: 0;
      margin-top: 25px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }
  
  @keyframes fade-in-up-img {    // Fade In Up Image
    0% {
      opacity: 0;
      margin-top: -125px;
    }
    25% {
      opacity: 0;
      margin-top: -125px;
    }
    100% {
      opacity: 1;
      margin-top: -150px;
    }
  }