// Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
$pfont:       'Karla', sans-serif;
$pfontreg:    400;
$pfontbold:   700;

// Serif
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
$serif:       'Playfair Display', serif;

// Monospace
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
$mono:       'JetBrains Mono', monospace;
$monoreg:    400;
$monobold:   800;