// Media Queries
$screen-sm: 576px;
$screen-md: 1025px;
@mixin sm {
   @media (max-width: #{$screen-sm}) {
       @content;
   }
}
@mixin minsm {
  @media (min-width: #{$screen-sm}) {
      @content;
  }
}
@mixin md {
  @media (max-width: #{$screen-md}) {
      @content;
  }
}

// Mixins
@mixin transitionall($length) {
  -webkit-transition: all $length ease-in-out;
  -moz-transition: all $length ease-in-out;
  -o-transition: all $length ease-in-out;
  transition: all $length ease-in-out;
}

@mixin transitiondelay($length) {
  -webkit-transition-delay: $length;
  -moz-transition-delay: $length;
  -o-transition-delay: $length;
  transition-delay: $length;
}