// Colour Variables
$dancanettiblack:   #111;         // Black
$dancanettigrey:    #f0f0f0;      // Grey
$dancanettiwhite:   #fff;         // White
$dancanettialt:     #F92A82;      // Alt

// Social 
$dribbble:          #ea4c89;      // Dribbble
$instagram:         #d00376;      // Instagram
$twitter:           #00aced;      // Twitter
$linkedin:          #0e76a8;      // LinkedIn

// Spacing Variables
$maxwidth:            700px;
$maxwidthnarrow:      550px;
$ds:                  75px;