/*
    Base
    ---
    Default style rules.
    E.G. html, body, a
*/

@import 'reset';

// Colour Variables
$dancanettiblack:   #111;         // Black
$dancanettigrey:    #f0f0f0;      // Grey
$dancanettiwhite:   #fff;         // White
$dancanettialt:     #F92A82;      // Alt

// Social 
$dribbble:          #ea4c89;      // Dribbble
$instagram:         #d00376;      // Instagram
$twitter:           #00aced;      // Twitter
$linkedin:          #0e76a8;      // LinkedIn

// Spacing Variables
$maxwidth:       1250px;
$maxwidthnarrow: 1000px;
$ds:             75px;

// Media Queries
$screen-sm: 576px;
@mixin sm {
   @media (max-width: #{$screen-sm}) {
       @content;
   }
}

// Mixins
@mixin transitionall($length) {
  -webkit-transition: all $length ease-in-out;
  -moz-transition: all $length ease-in-out;
  -o-transition: all $length ease-in-out;
  transition: all $length ease-in-out;
}

@mixin transitiondelay($length) {
  -webkit-transition-delay: $length;
  -moz-transition-delay: $length;
  -o-transition-delay: $length;
  transition-delay: $length;
}

// Animation
@keyframes fade-in {      // Fade In
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {    // Fade In Up
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  25% {
    opacity: 0;
    margin-top: 25px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fade-in-up-img {    // Fade In Up Image
  0% {
    opacity: 0;
    margin-top: -125px;
  }
  25% {
    opacity: 0;
    margin-top: -125px;
  }
  100% {
    opacity: 1;
    margin-top: -150px;
  }
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
$pfont:       'Karla', sans-serif;
$pfontreg:    400;
$pfontbold:   700;

// Serif
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
$serif:       'Roboto Slab', serif;

// Basics
body {
    font-family: $pfont;
    font-weight: $pfontreg;
    background-color: $dancanettiblack;
    padding-bottom: 0px;
    max-width: 1750px;
    margin: auto;
}

// Smooth Scrolling
@media screen and (prefers-reduced-motion: reduce) {
	a[href*="#"] {
		scroll-behavior: auto;
	}
}

// Day/Night Toggle
#wrapper {
  background-color: $dancanettiwhite;
  color: $dancanettiblack;
  @include transitionall(.3s);
  a {
    color: $dancanettiblack;
    @include transitionall(.3s);
  }
  .body__section--post-tag {
    background: $dancanettiblack;
    color: $dancanettiwhite;
  }
  hr {
    border: 1px solid $dancanettiblack;
  }
  code {
    background: rgba(0,0,0,0.1);
  }
  pre {
    background: rgba(0,0,0,0.1);
    code {
      background: transparent;
    }
  }
  &.night {
    background-color: $dancanettiblack;
    color: $dancanettiwhite;
    a {
      color: $dancanettiwhite;
    }
    .body__section--post-tag {
      background: $dancanettiwhite;
      color: $dancanettiblack;
    }
    hr {
      border: 1px solid $dancanettiwhite;
    }
    code {
      background: rgba(255,255,255,0.1);
    }
    pre {
      background: rgba(255,255,255,0.1);
      code {
        background: transparent;
      }
    }
  }
}

h1 {
    //font-family: $header;
    font-size: 4rem;
    text-align: left;
    text-transform: uppercase;
    padding: 5vh 0;
    margin: 0;
    line-height: 1.25;
    @include sm {
        font-size: 3rem;
    }
    &.--sub {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0;
    }
}

h2 {
    @extend h1;
    font-family: $pfont;
    font-size: 2.5rem;
    letter-spacing: .25rem;
    padding: 0;
    margin: 0 0 $ds 0;   
    &.sml {
      font-size: 1.6rem;
      margin-bottom: 30px;
      letter-spacing: .05rem;
      text-transform: capitalize;
    } 
}

h3 {
    @extend h2;
    font-family: $pfont;
    font-weight: $pfontbold;
    text-transform: unset;
    font-size: 1.75rem;
    letter-spacing: .05rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 30px;
    img {
      & + strong {
        font-size: .75rem;
      }
    }
}

a {
    text-decoration: none;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    &.l {
        @include transitionall(.3s);
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            bottom: -1px;
            height: 1px;
            width: 100%;
            opacity: 0.3;
            background: $dancanettigrey;
            @include transitionall(.3s);
        }
        &:hover {
            &:before {
                opacity: 1;
                background: $dancanettialt;
            }
        }
    }
}

button {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0 0 5px 0;
  margin-top: 10px;
  font-size: 1.25rem;
  color: $dancanettiblack;
  text-decoration: none;
  position: relative;
  @include transitionall(.3s);
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 100%;
    opacity: 0.3;
    background: $dancanettiblack;
    @include transitionall(.3s);
  }
  &:hover {
    cursor: pointer;
    &:before {
      opacity: 1;
      background: $dancanettialt;
    }
  }
}

.strong {
    font-weight: $pfontbold;
}

hr {
    box-shadow: none;
    height: 0px;
    width: 80%;
    margin: 75px auto 25px auto;
}

blockquote {
    font-family: $serif;
    margin: 75px 75px 5px 75px;
    & + p {
        font-family: $serif;
        margin: 25px 75px 75px 75px;
        font-size: .7em;
    }
    @include sm {
      margin: 75px 25px 5px 25px;
      & + p {
        margin: 25px 25px 75px 25px;
      }
    }
}

code {
  font-family: monospace;
  padding: 5px;
}

pre {
  padding: 15px;
  margin-top: 35px;
  width: 100%;
  overflow-y: scroll;
  code {
    font-size: 1rem;
    background: transparent;
  }
}

s {   // Strikethrough
  opacity: 0.5;
}

.social-img {
  height: .9rem;
  @include transitionall(.3s);
  &.hov-enabled {
    &:hover {
      fill: $dancanettialt;
    }
  }
}