/*
    Page
    ---
    ways to describe how our modules or layouts will look when in a particular state.
    E.G. Is it hidden or expanded? Is it active or inactive?
*/

body {
    &.post {
        .footer__content {
            padding: 50px;
            &:before {
                width: calc(100% - 100px);
            }
            @include sm {
                padding: 50px 40px;
                &:before {
                    width: calc(100% - 80px);
                }
            }
        }
    }
}