// Mixins
@mixin transitionall($length) {
    -webkit-transition: all $length ease-in-out;
    -moz-transition: all $length ease-in-out;
    -o-transition: all $length ease-in-out;
    transition: all $length ease-in-out;
}
