// Font
$font:        'Karla', sans-serif;
$fontreg:     400;
$fontbold:    700;
$lineheight:  1.75rem;
$fontsize:    15px;

// Colours
$black:     #111;
$green:     #006e51;

// Spacing
$mw:          500px;
$ds:          50px;