// Font
$font:        'Karla', sans-serif;
$fontreg:     400;
$fontbold:    700;
$lineheight:  1.2rem;
$fontsize:    15px;

// Colours
$black:     #111;
$green:     #f0f0f0;

// Spacing
$ds:          50px;