.website-list {
    list-style: none;
    padding: 0;
    margin-top: $ds;
    // Create columns
    -moz-column-count: 2;
    -moz-column-gap: #{$ds / 2};
    -webkit-column-count: 2;
    -webkit-column-gap: #{$ds / 2};
    column-count: 2;
    column-gap: #{$ds / 2};
    // Footer pad
    padding-bottom: #{$ds * 2};
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin-bottom: #{$ds / 5};
        img {
            margin-right: 20px;
        }
    }
}