.wrapper {
    max-width: $mw;
    text-align: center;
    padding: #{$ds / 2};
    .wrapper__links {
        position: fixed;
        padding: #{$ds / 2};
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        background: white;
    }
}