h1 {
    font-family: $serif;
    font-size: 4rem;
    text-align: left;
    padding: 5vh 0;
    margin: 0;
    line-height: 1.25;
    @include sm {
        font-size: 3rem;
    }
    &.--sub {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0;
    }
}

h2 {
    @extend h1;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    padding: 0;
    //margin: 0 0 $ds 0;
    &.sml {
        font-size: 1.6rem;
        margin-bottom: 30px;
        letter-spacing: 0.05rem;
        text-transform: capitalize;
    }
}

h3 {
    @extend h2;
    text-transform: unset;
    font-size: 1.75rem;
    letter-spacing: 0.05rem;
    &.mt {
        margin-top: 50px;
    }
}

p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 30px;
    img {
        & + strong {
            font-size: 0.75rem;
        }
    }
}

a {
    color: $dancanettiblack;
    text-decoration: none;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    &.l {
        @include transitionall(0.3s);
        z-index: 1;
        text-decoration: underline;
        text-decoration-color: rgba(0, 0, 0, 0.5);
        text-decoration-thickness: 0.05em;
        text-underline-offset: 5px;
        @include transitionall(0.3s);
        &:hover {
            text-decoration-color: $dancanettialt;
        }
        &.alt {
            color: $dancanettialt;
        }
        &.reponame {
            text-transform: capitalize;
        }
    }
}

.strong {
    font-weight: $pfontbold;
}